
body {
    background: url("../images/outerspace_landscape.jpeg") no-repeat;
    background-size: cover;
    
}
.logo {
    height: 50px;
    border-radius: 50%;
    vertical-align: middle;
}
nav ul {
    display: inline-block;
    list-style: none;
}
nav {
    background-color: grey;
    position: fixed;
    width: 100%;
    padding-left: 60px;
    padding-right: 60px;
    height: 60px;
    top: 0;
}
nav li {
    
    display: inline-block;
}
nav li::after {
    content: " |";
}
nav a:hover {
    color: black;
}



.box {
    width: 600px;
    height: 300px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border: 10px dotted green;
    margin-top: 300px;
}

.dog {
    top: 200px;
    left: 450px;
    position:absolute;
}

.cat {
    position: absolute;
    left: -150px;
    top: -150px;

}

